.container {
    margin: 0 auto;
    color: $text-color;
    text-align: center;
    max-width: 1800px;
    height: auto;


}


.small-container {
    margin: 8px auto;
    color: $text-color;
    text-align: center;
    max-width: 1800px;
    height: 800px;

    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
}